@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&family=Noto+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
}

.logo {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  padding-top: 28.5px;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  float: right;
  padding-top: 26.5px;
}

nav a {
  color: #000;
  font-size: 17px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#hero {
  margin-top: 90px;
}

.hero_subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 90px;
}

.hero_title {
  font-size: 100px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero_text {
  font-size: 17px;
  line-height: 1.6;
}

.hero_image {
  float: right;
  margin-right: 35px;
}

.contenedor_img{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 100px;
}

.skills {
  margin-top: 98px;
}

.skills img{
  display: block;
  margin: auto;
}
.title{
  margin-top: 65px;
  padding-right: 5px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.subtext{
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.6;
}


/* @media (min-width: 320px) and (720px) {
  .logo{
    text-align: cen;
  }
  nav ul{
    float: none;
    justify-content: space-between;
    padding-left: 0;
  }

  nav ul a{
    font-size: 22px;
  }

  #hero{
    margin-top: 0px;
  }

  #hero h2{
    margin-top: 0px;
  }
  }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }

@media (min-width: 1400px) { ... } */